*.launch
bin/assets/
run/
bin/
libs/
build/
eclipse/
logs/
mods/
libs/
out/
saves/
.gradle/
.settings/
src/generated
.idea/
server.properties 
run/screenshots/
.metadata/
.settings/
.classpath
.project
options.txt
usernamecache.json
crash-reports/
*.fdx
*.fnm
*.tis
*.iml
.recommenders/
.gitattributes
*.lnk
*.jks
secret.properties
